[Unit]
Description=Schedule holds website market data updates

[Timer]
OnCalendar=*-*-* 08:30:00
OnCalendar=*-*-* 20:30:00
Persistent=true
Unit=holds-market-update.service

[Install]
WantedBy=timers.target
